* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  width: 1920px;
  height: 864.38px;
  position: relative;
  background-image: url("https://s3-alpha-sig.figma.com/img/1959/de00/d32514d28c4b4222d9274a8ba28e6f7c?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OVIg2zEsSrj6V1pdld3WhBf-trv3Ocv0MXFelcTRIZVAl6OuMS0AdDwr5Q3GqKrpDJiqX0UZTAG-hOm6hN0UMVjW-YrNF7A9kyewVwk3uhgvn2nmh1YCx5fS5vcW3dTjQL85u8bfl9qaP~FfP0qbZxkFsc3hP94F-pWRkPXhY3Ya86rgDjmDsPBfEHY48OOto0VjUbbn6kHYUhr9~7vGcxDagRfUeJ~uvreLomnebet39ZNckVhKuFYV3CmNtE5Zko0ZQl6qoIxCfTXkErmKHkMdq6bxC5w7dxpntBGCJfY8J~YvkUPMnz4swhhc6tj7mogjnp6qjXBJLdGX2OMXdA__");
  overflow: hidden;
}

.main2 {
  width: 880px;
  height: 254px;
  position: absolute;
  top: 147px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 15px;
}

.main2 h1 {
  width: 909.84px;
  height: 175px;
  top: 246px;
  left: 505.17px;
  position: absolute;
  color: white;
}

.jhola {
  background-image: url("https://s3-alpha-sig.figma.com/img/5aba/edcb/4eb28e0e4db88a02fd8743913a28b042?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TMUx3jnwFuFbfV7JPydqeY6X07x7t0~GU-PT-C0YUdW-0aSXgKKti5swKb5GKjRdyoMEhkJMECqXaNAQejhObuvrodoOUK3FFUqHjNQXmDziTNL~~wSlwr0VzjvkOji2~Dt~2IO9vWmM2BW9GCTByf-2PwZNxa24EwQIYJUE36CUwFlLtY6o2wyBtq0ST5obtVASkt8PQfWF9oNdklxYlFSnwITv6uDY3P-LgGQ-q3d2Va2bnQXGrF-wuH8GD0UGp6tMn7sKSpDb237pneAq4FMOXyYE6ehd7g-Hkmnk0fJzYLslN1eRJMmlRFkrhQAikNrjVwa1wsPMWNTlNG7yYg__");
  width: 409.98px;
  height: 347.13px;
  top: 1730.97px;
  left: 315px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0.5px;
  position: absolute;
}

.jhola2 {
  background-image: url("https://s3-alpha-sig.figma.com/img/72dd/146b/ca9a182847dd6c54ab6c5cf3b30efb1e?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=LUj6urJSl1mrARWhngDUM4qMD6emwG759D8e9h69AbEV6ijjTRFdMECWMp37nfsdc-5oXTmhXoimM7WSrsux-~UcvJVPD-2RM4x9xXQ1MBp~Xd~9J9ppmqAIQU2atxmdfeCc8ZJHAwrrvgO9LAgzyCiP3IZN2rSEF9kjoNdWBQy7s~CeIVLXzWPBzOiQNYNUBOkuhUj77GYnKgx6M3ZNWzoIbatxTbDh0y1kd4h8IqA4LgDwiVkgUgQiJJHZasRKolsE-pKUYj9Zm5K9egGM86zVEHtGOJCM8dqC4EN1XYtIg5tmOH3331ofJoFu8yCSpeAAHdi5yuX0813Lclcaiw__");
  width: 409.98px;
  height: 347.13px;
  top: 1730.97px;
  left: 754.98px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0.5px;
  position: absolute;
}

.jhola3 {
  background-image: url("https://s3-alpha-sig.figma.com/img/5aba/edcb/4eb28e0e4db88a02fd8743913a28b042?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TMUx3jnwFuFbfV7JPydqeY6X07x7t0~GU-PT-C0YUdW-0aSXgKKti5swKb5GKjRdyoMEhkJMECqXaNAQejhObuvrodoOUK3FFUqHjNQXmDziTNL~~wSlwr0VzjvkOji2~Dt~2IO9vWmM2BW9GCTByf-2PwZNxa24EwQIYJUE36CUwFlLtY6o2wyBtq0ST5obtVASkt8PQfWF9oNdklxYlFSnwITv6uDY3P-LgGQ-q3d2Va2bnQXGrF-wuH8GD0UGp6tMn7sKSpDb237pneAq4FMOXyYE6ehd7g-Hkmnk0fJzYLslN1eRJMmlRFkrhQAikNrjVwa1wsPMWNTlNG7yYg__");
  width: 409.98px;
  height: 347.13px;
  top: 1730.97px;
  left: 1194.97px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0.5px;
  position: absolute;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#sec1 > img {
  width: 1920px;
  height: 711.25px;
  position: absolute;
  top: 4650.22px;
}

#sec1 > section {
  width: 700.73px;
  position: absolute;
  height: 261.25px;
  top: 4900.22px;
  left: 609.63px;
}
#sec1 > section h2 {
  width: 670.93px;
  position: absolute;
  height: 90px;
  top: 10px;
  left: 15px;
  font-family: Inter;
  font-size: 69.45px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  color: #FFFFFF;
}
#sec1 > section p {
  width: 395.05px;
  height: 48.12px;
  position: relative;
  margin-top: 14px;
  top: 110px;
  left: 152.93px;
  font-family: Inter;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #FFFFFF;
}
#sec1 > section div {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 190.25px;
  left: 320.35px;
  margin-top: 34px;
  color: #FFFFFF;
  border: 2px solid;
  border-radius: 50%;
}
#sec1 > section div .fa-play {
  width: 17.27px;
  position: absolute;
  height: 20px;
  top: 20px;
  left: 23.36px;
}

section#sec2 {
  width: 1920px;
  height: 773.63px;
  position: absolute;
  top: 5361.47px;
  padding: 120px 300px 105px 300px;
  background-color: rgba(235, 102, 43, 0.07);
}

.container {
  width: 1320px;
  height: 548.63px;
  position: absolute;
  top: 120px;
  left: 300px;
}
.container h2 {
  width: 440.95px;
  height: 45px;
  position: absolute;
  left: 15px;
  font-family: Inter;
  font-size: 29.77px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}
.container .card {
  display: flex;
  margin-top: 85px;
  margin-inline: 15px;
  gap: 30px;
}
.container .card .cardbox {
  width: 409.98px;
  height: 315.5px;
  top: 85px;
  left: 15px;
  border-radius: 12px;
  background: rgb(255, 255, 255);
}
.container .card .cardbox h4 {
  width: 96.61px;
  height: 27px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: Inter;
  font-size: 17.86px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}
.container .card .cardbox p {
  width: 346.23px;
  height: 104.37px;
  margin-top: 26px;
  margin-left: 30px;
  font-family: Inter;
  font-size: 14.77px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: left;
  color: rgb(5, 7, 60);
}
.container .card .cardbox div {
  display: flex;
}
.container .card .cardbox div div > img {
  width: 60px;
  height: 60px;
  margin-top: 20.5px;
  margin-left: 30px;
}
.container .card .cardbox div .profile {
  display: grid;
  position: relative;
  left: 15px;
  top: 25px;
  width: 300px;
  height: 50px;
}
.container .card .cardbox div .profile span {
  font-weight: 500;
}
.container .card2 {
  display: flex;
  width: 1320.98px;
  height: 108.13px;
  top: 440.5px;
  padding: 15px 45.44px 15px 0px;
}
.container .card2 .cardbox2 {
  width: 439.98px;
  height: 108.13px;
  top: 440.5px;
  padding: 15px 45.44px 15px 15px;
}
.container .card2 .cardbox2 h4 {
  width: 200.39px;
  height: 45px;
  top: 15px;
  left: 15px;
  font-family: Inter;
  font-size: 28.13px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: rgb(5, 7, 60);
}
.container .card2 .cardbox2 p {
  width: 380px;
  height: 28.13px;
  font-family: Inter;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: rgb(5, 7, 60);
}

#sec3 {
  width: 1320px;
  height: 550.98px;
  position: absolute;
  top: 6250.09px;
  left: 300px;
  margin-top: 114px;
  margin-bottom: 105px;
}
#sec3 h2 {
  width: 210.5px;
  height: 45px;
  position: relative;
  top: 5px;
  left: 15px;
  font-family: Inter;
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: rgb(5, 7, 60);
}
#sec3 a {
  width: 44.79px;
  height: 28.13px;
  position: absolute;
  top: 21.88px;
  left: 1234.41px;
  font-family: Inter;
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: rgb(5, 7, 60);
}
#sec3 .card3 {
  display: flex;
  margin-top: 95px;
  margin-left: 15px;
  gap: 30px;
}
#sec3 .trip {
  border: 2px solid;
  width: 45.37px;
  position: absolute;
  height: 30px;
  top: 160px;
  left: 30px;
  font-family: Inter;
  font-size: 13.56px;
  font-weight: 500;
  line-height: 26.25px;
  text-align: left;
  color: rgb(5, 7, 60);
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
  border-radius: 20px;
}
#sec3 .datename {
  width: 250.45px;
  height: 18px;
  position: absolute;
  top: 460.89px;
  left: 15px;
  font-family: Inter;
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
}
#sec3 .cardbox3 > p {
  width: 366.92px;
  height: 51px;
  position: absolute;
  top: 481.99px;
  left: 15px;
  font-family: Inter;
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: rgb(5, 7, 60);
}/*# sourceMappingURL=styles.css.map */